---
import OptimizedImage from "../common/OptimizedImage.astro";

// Import images
import heroElement from "../../assets/images/demo-elearning-01.png";
import heroBg from "../../assets/images/jccc-hero-bg.jpg";
import heroBanner from "../../assets/images/jccc-hero-image2.png";
import verticalLineBg from "../../assets/images/vertical-line-bg-small.svg";

interface Props {
  title?: string;
  subtitle?: string;
  ctaText?: string;
  ctaUrl?: string;
  secondaryCtaText?: string;
  secondaryCtaUrl?: string;
}

const {
  title = "一生の友と、一生の成長を",
  subtitle = "Online courses from the world's leading experts. Join 17 million learners today.",
  ctaText = "はじめに",
  ctaUrl = "/contact",
  secondaryCtaText = "紹介動画",
  secondaryCtaUrl = "https://www.youtube.com/watch?v=cfXHhfNy7tU",
} = Astro.props;

// Stats for counters
const stats = [
  { label: "Tutors", value: 260, suffix: "+" },
  { label: "Students", value: 5340, suffix: "+" },
  { label: "Courses", value: 280, suffix: "+" },
];
---

<!-- Hero Section -->
<section
  class="p-0 overflow-hidden bg-dark-gray full-screen ipad-top-space-margin md-h-auto position-relative md-pb-70px sm-pb-40px cover-background"
  style={`background-image: url(${heroBg.src})`}
>
  <div
    class="background-position-center-top h-100 w-100 position-absolute left-0px top-0"
    style={`background-image: url(${verticalLineBg.src})`}
  >
  </div>

  <div
    id="particles-style-01"
    class="h-100 position-absolute left-0px top-0 w-100"
    data-particle="true"
    data-particle-options='{"particles": {"number": {"value": 6,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#d5996b", "#d5996b", "#d5996b", "#d5996b", "#d5996b"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 1,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":1,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
  >
  </div>

  <div
    class="position-absolute left-minus-80px top-25"
    data-bottom-top="transform: translateY(-80px)"
    data-top-bottom="transform: translateY(80px)"
  >
    <OptimizedImage src={heroElement} alt="Decorative element" />
  </div>

  <div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div
        class="col-xl-5 col-lg-6 col-md-12 text-white text-center text-lg-start position-relative z-index-1 d-flex flex-column justify-content-center h-100 md-mt-50px md-mb-20px xs-mb-10px"
        data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'
      >
        <h1 class="alt-font fs-75 lh-65 sm-fs-60 fw-500 mb-25px ls-minus-2px">
          {title}
        </h1>
        <div
          class="mb-30px w-80 md-w-60 sm-w-100 d-block mx-auto mx-lg-0 overflow-hidden"
        >
          <span class="fs-18 fw-300 opacity-5 d-inline-block">{subtitle}</span>
        </div>
        <div class="overflow-hidden">
          <a
            href={ctaUrl}
            class="btn btn-extra-large btn-base-color btn-rounded btn-switch-text fw-600 d-inline-block me-25px sm-me-10px align-middle left-icon"
          >
            <span>
              <span><i class="feather icon-feather-thumbs-up"></i></span>
              <span class="btn-double-text ls-minus-05px" data-text={ctaText}
                >{ctaText}</span
              >
            </span>
          </a>
          <a
            href={secondaryCtaUrl}
            class="btn btn-link btn-hover-animation-switch btn-extra-large text-white popup-youtube btn-icon-left"
          >
            <span>
              <span class="btn-text">{secondaryCtaText}</span>
              <span class="btn-icon"
                ><i class="feather icon-feather-youtube"></i></span
              >
              <span class="btn-icon"
                ><i class="feather icon-feather-youtube"></i></span
              >
            </span>
          </a>
        </div>

        <div
          class="row row-cols-3 justify-content-center counter-style-04 w-100 md-w-auto position-absolute lg-position-relative bottom-80px lg-bottom-0px lg-mt-50px"
        >
          {
            stats.map((stat, index) => (
              <div class="col text-center text-lg-start">
                <h5
                  class="vertical-counter d-inline-flex alt-font text-white fw-600 mb-10px"
                  data-text={stat.suffix}
                  data-to={stat.value}
                />
                <div class="divider-style-03 divider-style-03-01 border-2 border-color-base-color mb-5px w-80 xs-w-90 md-mx-auto" />
                <span class="fw-300 text-white opacity-5">{stat.label}</span>
              </div>
            ))
          }
        </div>
      </div>

      <div class="col-xl-7 col-lg-6 pt-30px lg-pt-0">
        <div
          class="position-relative outside-box-right-10 md-outside-box-right-0 atropos"
          data-atropos
        >
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner text-center w-100">
                <div
                  data-atropos-offset="-1"
                  class="position-absolute left-0px right-0px"
                >
                  <img src="https://via.placeholder.com/975x990" alt="" />
                </div>
                <OptimizedImage
                  src={heroBanner}
                  alt="Hero banner"
                  class="position-relative z-index-9 animation-float"
                  data-atropos-offset="1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  h1 {
    line-height: 5rem;
  }
</style>
